<% if can? :manage, @user %>
     <%= form_with(model: user, local: true) do |f| %> 
       <% if user.errors.any? %>
         <div id="error_explanation">
           <h2><%= pluralize(user.errors.count, "error") %> prohibited this usuario from being saved:</h2>
             <ul>
               <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
               <% end %>
             </ul>
         </div>
       <% end %>

<div class= "contenedor">
  <div class="container">
    <div class="jumbotron4">
    	<center>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div></br>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div></br>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div></br>
   
   <div><%= f.submit t('.sign_up', :default => "Registrar") %></div>

       </center>
    </div>
  </div>
</div>
    <% end %>

<% end %>
<% if cannot? :manage, @user  %>
<div class= "contenedor">
    <div class="panel panel-default">
        <div class="panel-heading">Programación de actividades </div>
            <div class="panel-body"> 
                <center>
                  <div> No tienes acceso a esta página.</div>
                 <a class="btn btn-primary btn-large">
                 <%= button_to 'Regresar', calendario_actividadesInvestigacion_path, :method => :post %>
                 </a>
                 </center>
          
            </div>
        </div>      
</div>
<% end %>
