<p id="notice"><%= notice %></p>
<% if can? :manage, @usuario %>

<div class= "contenedor">
    <div class="panel-group">     
        <div class="panel panel-default">
          <div class="panel-heading">Programación de actividades </div>
            <div class="panel-body">
             <center>
              <div class="btn-group" role="group" aria-label="...">
                <center>
                 <a class="btn btn-primary btn-large">
                 <%= button_to 'Espacios', espacios_path, :method => :get  %> </a>
                 <a class="btn btn-primary btn-large">
                 <%= button_to 'Reservaciones', reservacions_path, :method => :get  %> </a>
                 <a class="btn btn-primary btn-large">
                 <%= button_to 'Usuarios', users_path, :method => :get  %> </a>
               </center>
              </div>
             </center>
            </div>
        </div>      
    </div>
</div>

<div class= "contenedor">
  <h1 align = "center">Usuarios</h1>
 <div align="right"> <h4><%= link_to 'Nuevo usuario', new_user_registration_path %></h4></div>

<% @users.each do |user| %>
  <div class=""container">
    <div class="panel panel-primary">
      <div class="panel-body">
        <ul>
          <li>Usuario: <%= user.email %></li>
          <li>Rol: <%= user.role %></li>
          <li>Número de usuario: <%= user.id %></li>
          <li>Último inicio de sesión: <%= user.last_sign_in_at.strftime('%H:%M:%S %B, %d, %Y') %></li>
          <li><%= link_to 'Editar', edit_registration_path(user) %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
</div>


<% end %>

<% if cannot? :manage, @usuario  %>
<div class= "contenedor">
    <div class="panel panel-default">
        <div class="panel-heading">Programación de actividades </div>
            <div class="panel-body"> 
                <center>
                  <div> No tienes acceso a esta página.</div>
                 <a class="btn btn-primary btn-large">
                 <%= button_to 'Regresar', calendario_espacios_path, :method => :get %>
                 </a>
                 </center>
          
            </div>
        </div>      
</div>
<% end %>