<!DOCTYPE html>
<html>
<link href="https://goo.gl/34igzK" rel="shortcut icon">
  <title>Sistema de Gestión de Espacios </title>
  <!-- Latest compiled and minified CSS -->
  <head>
  <link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css">
    <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application'%>
    <%= javascript_include_tag "application"%>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
      <%= yield %>
      
    <div class= "contenedor">
      <footer>
        <strong> 
          <div class="pie-banners">
            <%= image_tag "vinculosExternos.jpg", usemap:"#imagen01"%>
          </div>
          <div class="pie-derechos1">
            <div align="center"> Hecho en México, todos los derechos reservados 2018. Esta página puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, <br/>
             se cite la fuente completa y su dirección electrónica. De otra forma requiere permiso previo por escrito de la institución.
            </div>
            <div class="administrado1">Sitio web creado y administrado por el Departamento de Cómputo del Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades (CEIICH).<br/>
             Contacto: <a1 href="mailto:sge.reservaciones@ceiich.unam.mx">sge.reservaciones@ceiich.unam.mx</a>
            </div>
          </div> 
        </strong>
      </footer>
    </br>
  </div>
  </body>
</html>