<%if can? :show, Videoconferencium %>
 <style type="button">
  input {color: black;}
 </style>
  <div class="container">
   <h4 align="center">RESERVACIÓN SALA DE VIDEOCONFERENCIAS</h4></br></br></br>
    <div class="row">
       <div class="col-md-6">
          <div class="jumbotron5">
            <center>
              <a class="btn btn-primary btn-large">
                <%= button_to 'Ver disponibilidad', calendario_salaVideoconferencia_path, :method => :post %>
              </a>
            </center>
          </div>
       </div>

       <div class="col-md-6" >
        <div class="jumbotron6">
          <center>
            <a class="btn btn-primary btn-large">
              <%= button_to 'Solicitar espacio', new_videoconferencium_path, :method => :get %>
            </a>
          </center>
        </div>
      </div>
    </div>
  </div> 
<% end %>
</br></br></br></br>
<% if can? :manage, Reservacion %>
 <div class="container">
  <h4 align="center">RESERVACIÓN DE SALAS</h4></br></br></br>
    <div class="row">
       <div class="col-md-6" >
        	<div class="jumbotron2">
 	        	<center>
              <a class="btn btn-primary btn-large">
                <button type="button" data-toggle="modal" id="disponibilidad">Ver disponibilidad de espacios</button>
              </a>
            </center>
                    <div id="Asistentes" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <center>

                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                           <div class="modal-body">
                           </br>
                             <h5> Si requiere reservar algún auditorio, por favor comuníquese con el</br></br> Departamento de Difusión</h5>
                           </div>

                          <div class="modal-footer">
                            <center>
                              <a class="btn btn-primary btn-large">
                                <%= button_to 'Ver disponibilidad', calendario_calendarioGeneral_path, :method => :post %>
                              </a>
                            </center>
                          </div>            
                      </div>
                        </center>
                      </div>
                    </div>      

                    <script>
                     $(document).ready(function(){
                     $("#disponibilidad").click(function(){
                     $("#Asistentes").modal();
                      });
                    });
                    </script>
          </div>
        </div>
      <div class="col-md-6" >
 	      <div class="jumbotron3">
 		      <center>
 	          <a class="btn btn-primary btn-large">
              <%= button_to 'Solicitar espacio', new_reservacion_path, :method => :get %>
            </a>
          </center>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if cannot? :delete, Reservacion %>
  <div class="container">
    <h4 align="center">RESERVACIÓN DE SALAS</h4></br></br></br>
      <div class="jumbotron2">
            <center>
              <a class="btn btn-primary btn-large">
                <button type="button" data-toggle="modal" id="disponibilidad">Ver disponibilidad de espacios</button>
              </a>
            </center>
                    <div id="Asistentes" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <center>

                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                           <div class="modal-body">
                           </br>
                             <h5> Si requiere reservar algún auditorio, por favor comuníquese con el</br></br> Departamento de Difusión</h5>
                           </div>

                          <div class="modal-footer">
                            <center>
                              <a class="btn btn-primary btn-large">
                                <%= button_to 'Ver disponibilidad', calendario_calendarioGeneral_path, :method => :post %>
                              </a>
                            </center>
                          </div>            
                      </div>
                        </center>
                      </div>
                    </div>      

                    <script>
                     $(document).ready(function(){
                     $("#disponibilidad").click(function(){
                     $("#Asistentes").modal();
                      });
                    });
                    </script>
      </div>
  </div>
<% end %>

