
<%= form_with(model: solicitud, local: true) do |form| %>
  <% if solicitud.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solicitud.errors.count, "error") %> prohibited this solicitud from being saved:</h2>

      <ul>
      <% solicitud.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="contenedor">
  <div class="container">
    <center>
  <div class="field">
    <%= form.label :sala %>
    <%= form.select :sala, [['Auditorio del 4° piso','Auditorio del piso 4'],['Sala 1 del 5° piso','Sala1 del piso 5'],['Sala 2 del 5° piso','Sala2 del piso 5'],['Auditorio del 5° piso','Auditorio del piso 5'],['Sala del 6° piso','Sala del piso 6'],['Anexo','Anexo']], id: :solicitud_sala %>
  </div>

  <div class="field">
    <%= form.label :responsable %>
    <%= form.text_field :responsable, id: :solicitud_responsable %>
  </div>

  <div class="field">
    <%= form.label :motivo %>
    <%= form.text_field :motivo, id: :solicitud_motivo %>
  </div>

  <div class="field">
    <%= form.label :sesiones %>
    <%= form.text_field :sesiones, id: :solicitud_sesiones %>
  </div>

  <div class="field">
    <%= form.label :fecha_de_inicio %>
    <%= form.date_field :fechainicio, id: :solicitud_fechainicio %>
  </div>

  <div class="field">
    <%= form.label :fecha_de_fin %>
    <%= form.date_field :fechafin, id: :solicitud_fechafin %>
  </div>

  <div class="field">
    <%= form.label :día_de_la_semana %>
    <%= form.select :diasemana, [['Lunes','lunes'],['Martes','martes'],['Miércoles','miercoles'],['Jueves','jueves'],['Viernes','viernes']], id: :solicitud_diasemana %>
  </div>

  <div class="field">
    <%= form.label :horario %>
    <%= form.time_field :horario, id: :solicitud_horario %>
  </div>

  <div class="field">
    <%= form.label :número_de_personas %>
    <%= form.number_field :numpersonas, id: :solicitud_numpersonas, in: 1..100, step: 1 %>
  </div>

  <div class="field">
    <%= form.label :requerimientos %>
    <%= form.text_field :requerimientos, id: :solicitud_requerimientos %>
  </div>

  <div class="actions">
    <%= form.submit :Aceptar %>
  </div>
</center>
</div>

</div>
<% end %>
