<meta charset='utf-8' />
<p id="notice"><%= notice %></p>

<h1 align="center">Solicitudes</h1>

<table align="center">
  <thead>
    <tr>
      <th>Sala</th>
      <th>Responsable</th>
      <th>Motivo</th>
      <th>Sesiones</th>
      <th>Fecha de inicio</th>
      <th>Fecha de fin</th>
      <th>Día de la semana</th>
      <th>Horario</th>
      <th>Número de personas</th>
      <th>Requerimientos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solicituds.each do |solicitud| %>
      <tr>
        <td><%= solicitud.sala %></td>
        <td><%= solicitud.responsable %></td>
        <td><%= solicitud.motivo %></td>
        <td><%= solicitud.sesiones %></td>
        <td><%= solicitud.fechainicio %></td>
        <td><%= solicitud.fechafin %></td>
        <td><%= solicitud.diasemana %></td>
        <td><%= solicitud.horario %></td>
        <td><%= solicitud.numpersonas %></td>
        <td><%= solicitud.requerimientos %></td>
        <td><%= link_to 'Mostrar', solicitud %></td>
        <td><%= link_to 'Editar', edit_solicitud_path(solicitud) %></td>
        <td><%= link_to 'Eliminar', solicitud, method: :delete, data: { confirm: '¿Desea continuar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Solicitud', new_solicitud_path %>
