<p id="notice"><%= notice %></p>

<p>
  <strong>Sala:</strong>
  <%= @solicitud.sala %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @solicitud.responsable %>
</p>

<p>
  <strong>Motivo:</strong>
  <%= @solicitud.motivo %>
</p>

<p>
  <strong>Sesiones:</strong>
  <%= @solicitud.sesiones %>
</p>

<p>
  <strong>Fecha de inicio:</strong>
  <%= @solicitud.fechainicio %>
</p>

<p>
  <strong>Fecha de fin:</strong>
  <%= @solicitud.fechafin %>
</p>

<p>
  <strong>Día de la semana:</strong>
  <%= @solicitud.diasemana %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @solicitud.horario %>
</p>

<p>
  <strong>Número de personas:</strong>
  <%= @solicitud.numpersonas %>
</p>

<p>
  <strong>Requerimientos:</strong>
  <%= @solicitud.requerimientos %>
</p>

<%= link_to 'Editar', edit_solicitud_path(@solicitud) %> |
<%= link_to 'Regresar', solicituds_path %>
