
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<%= form_with(model: reservacion, local: true) do |form| %>
  <% if reservacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservacion.errors.count, "error") %> prohibited this reservacion from being saved:</h2>
      <ul> <% reservacion.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class = "contenedor">
  <div class="container">
    <div class="jumbotron4">
      <center>
        <div class="field">
          <%= form.label :sala %>
          <% if false %>
          <%= form.label :Auditorio_del_4_piso, id: :solicitud_sala %>
          <% end %>

          <%= collection_select(:reservacion, :espacio_id, @espacios, :id, :nombre, :prompt => "Seleccione un espacio") %>
                  
        </div>
  
        <div class="field">
          <%= form.label :nombre_de_responsable %>
          <%= form.text_field :nresponsable, id: :reservacion_nresponsable, required:"" %>
        </div>

        <div class="field">
          <%= form.label :nombre_de_la_actividad %>
          <%= form.text_area :nevento, id: :reservacion_nevento, required:"" %>
        </div>

        <div class="field">
          <%= form.label :fecha_de_inicio %>
          <%= form.date_field :fechainicio, id: :reservacion_fechainicio, :value => Time.zone.today + 5.day, min: Time.zone.today, step:0 %>
        </div>

        <div class="field">
          <%= form.label :fecha_de_fin %>
          <%= form.date_field :fechafin, id: :reservacion_fechafin, :value => Time.zone.today + 5.day, min: Time.zone.today %>
        </div>

        <div class="field">
          <%= form.label :hora_de_inicio %>
          <%= form.time_field :horainicio, id: :reservacion_horainicio, :value => "08:00", min: "07:00", max: "20:00" %>
        </div>

        <div class="field">
          <%= form.label :hora_de_fin %>
          <%= form.time_field :horafin, id: :reservacion_horafin, :value => "10:00", min: "07:00", max: "20:00" %>
        </div>

        <!--<div class="field">
          <%= form.label :repetición %>
          <%= form.check_box :repeticion, id: :reservacion_repeticion %>
        </div>-->

        <%if false%>
        <div class="field">
          <%= form.label :id_de_repeticiones %>
          <%= form.text_field :idrepeticiones, id: :reservacion_idrepeticiones %>
        </div>
        <%end%>
        
        <% if can? :manage, Reservacion %>
        <div class="field">
          <%= form.label :aprobación %>
          <%= form.check_box :aprobacion, id: :reservacion_aprobacion %>
        </div>
        <% end %>

         <div class="field">
          <%= form.label :tipo_de_actividad %>
          <%= form.text_field :tipoactividad, id: :reservacion_tipoactividad %>
        </div>
         

          <!--<%= form.select :tipoactividad, [['Seminario interno','Seminario interno'],['Reunión de trabajo','Reunión de trabajo'],['Clases','Clases'],['Curso','Curso'],['Diplomado','Diplomado'],['Seminario','Seminario'],['Taller','Taller'],['Inauguración','Inauguración'],['Ciclo de conferencias','Ciclo de conferencias'],['Cine debate','Cine debate'],['Coloquio','Coloquio'],['Conversatorio','Conversatorio'],['Encuentro','Encuentro'],['Foro','Foro'],['Jornada','Jornada'],['Mesa redonda','Mesa redonda'],['Presentación de libro','Presentación de libro'],['Mesa de trabajo','Mesa de trabajo'],['Congreso','Congreso']], id: :reservacion_tipoactividad %>

          <% if false %>
          <%= form.text_field :tipoactividad, id: :reservacion_tipoactividad %>
          <%end%>
        </div>-->

        <div class="field">
          <%= form.label :fecha_de_solicitud %>
          <%= Time.now.strftime("%d-%m-%Y") %>
          <%= form.hidden_field :fechasolicitud, id: :reservacion_fechasolicitud, :value => Time.now.strftime("%d-%m-%Y") %>
        </div>

        <div class="field">
          <%= form.label :usuario %>
          <%= current_user.email %>
          <%= form.hidden_field :usuario, id: :reservacion_usuario, :value => current_user.email %>
        </div>
         

  <button type="button" class="btn btn-primary btn-sm" id="myBtn">Crear reservación</button>

  <!-- Modal -->
  <div class="modal fade" id="Servicios" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">SERVICIOS ADICIONALES</h4>
        </div>
        <div class="modal-body">
           <h6> Seleccione los servicios que requiera. </h6>
            
           <h5><b> SERVICIOS TÉCNICOS </b></h5>
            <div><%= form.check_box :videoproyector, id: :reservacion_videoproyector %><h7> Videoproyector </h7> </div> 
            <div><%= form.check_box :pc, id: :reservacion_pc %> <h7> PC </h7> </div>
            <div><%= form.check_box :video, id: :reservacion_video %><h7> Video </h7> </div> 
            <div><%= form.check_box :conexInternet, id: :reservacion_conexInternet %><h7> Conexión Internet </h7> </div>
            <div><%= form.check_box :pizarron, id: :reservacion_pizarron %> <h7> Pizarrón </h7> </div> 
           <!-- <div><%= form.check_box :traducSimultanea, id: :reservacion_traducSimultanea %> <h7> Traducción simultánea </h7> </div> -->
            <div><%= form.check_box :conexSkype, id: :reservacion_conexSkype %> <h7> Conexión por Skype </h7> </div> 
            <!--<div><%= form.check_box :videoconferencia, id: :reservacion_videoconferencia %><h7> Videoconferencia </h7> </div>
            <div><%= form.check_box :webcast, id: :reservacion_webcast %> <h7> Webcast </h7> </div>
            <div><%= form.check_box :grabVideo, id: :reservacion_grabVideo %> <h7> Grabación de video </h7> </div>
            <div><%= form.check_box :grabAudio, id: :reservacion_grabAudio %> <h7> Grabación de audio </h7> </div>-->
           <h5><b> OTROS SERVICIOS </b></h5>
           <h6> En todas las sesiones se puede ofrecer café. </h6>
            <div><%= form.check_box :cafe, id: :reservacion_cafe %> <h7> Café </h7> </div>
           <h6> En sesiones de 3 horas o más se puede ofrecer galletas o fruta. </h6>
            <div><%= form.check_box :galletas, id: :reservacion_galletas %> <h7> Galletas </h7> </div>
            <div><%= form.check_box :fruta, id: :reservacion_fruta %> <h7> Fruta </h7> </div>
            <div><h7> Asistencia aproximada por sesión: <%= form.number_field :asistentes, id: :reservacion_asistentes, min: 1, max: 18 %> personas</h7>
            <p></p>
            <div class="actions">
            <a class="btn btn-primary btn-sm">
            <%= form.submit t('.submit', :default => "Crear reservación") %> </a> 
            </div>
        </div>   
      </div>   
    </div>
  </div>


<script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#Servicios").modal();
    });
});
</script>
        <% end %>
      </center>
    </div>
    <div align ="right">
      <a class="btn btn-primary btn-large">
            <%= button_to 'Regresar', calendario_actividadesInvestigacion_path, :method => :get %>
      </a>
    </div>
  </div>
</div>
