<% @reservacions.each do |reservacion| %>
 <% @reservacions = @reservacions.reverse%>
  <% if reservacion.fechainicio.strftime("%d-%m-%Y") == reservacion.fechainicio.strftime("%d-10-%Y") %>
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="col-md-6" >
         <ul class="list-group">
          <li class="list-group-item list-group-item-info"> <b>Folio de reservación: <%= reservacion.id %></b></li>
          
          <% if reservacion.aprobacion == true %>
          <li class="list-group-item list-group-item-success">  Aprobación: Aprobada </li>
          <% else %>
          <li class="list-group-item list-group-item-danger"> Aprobación: Pendiente </li>
          <% end %>

          <li class="list-group-item"> Espacio: <%= reservacion.espacio.nombre if reservacion.espacio%> </li>
          <li class="list-group-item"> <b>Responsable: <%= reservacion.nresponsable %></b></li>
          <li class="list-group-item"> Actividad: <%= reservacion.nevento %> </li>
          <li class="list-group-item"> <b>Tipo de actividad: <%= reservacion.tipoactividad %>  </b></li>
          <li class="list-group-item"> Fecha: <%= reservacion.fechainicio %> </li>    
          <!--<li class="list-group-item"> <b>Fecha de fin: <%= reservacion.fechafin %> </b></li>-->
          <li class="list-group-item"> <b>Hora de inicio: <%= reservacion.horainicio.strftime("%H:%M") %></b></li>
          <li class="list-group-item"> Hora de fin: <%= reservacion.horafin.strftime("%H:%M") %></li>
          <!--<li class="list-group-item"> Repetición: <%= "Sí" if reservacion.repeticion == true %> <%= "No" if reservacion.repeticion == false %></li>
          <li class="list-group-item"> <b>ID repeticiones: <%= reservacion.idrepeticiones %></b></li> -->
          <li class="list-group-item"> <b>Fecha de solicitud: <%= reservacion.fechasolicitud.strftime("%d-%m-%Y %H:%M") %></b></li>
          <li class="list-group-item"> Usuario: <%= reservacion.usuario %></b> </li>
  
          <!--<li class="list-group-item"> Cartel: <%= "Sí" if reservacion.cartel == true %> <%= "No" if reservacion.cartel == false %></li>
          <li class="list-group-item"> <b>Programa: <%= "Sí" if reservacion.programa == true %> <%= "No" if reservacion.programa == false %></b></li>
          <li class="list-group-item"> Constancias: <%= "Sí" if reservacion.constancias == true %> <%= "No" if reservacion.constancias == false %></li> -->
         </ul>
        </div>
        <div class="col-md-6">
            <center><ul class="list-group">
           <h4>SERVICIOS REQUERIDOS</h4>
          <% if reservacion.videoproyector == true %><li class="list-group-item"> <b> Videoproyector </b></li><% end %>
          <% if reservacion.pc == true %><li class="list-group-item"> PC </li><% end %>
          <!--<li class="list-group-item"> <b>Video: <%= "Sí" if reservacion.video == true %> <%= "No" if reservacion.video == false %></b></li>-->
          <% if reservacion.conexInternet == true %><li class="list-group-item"> <b>Conexión a Internet</b></li><% end %>
          <% if reservacion.pizarron == true %><li class="list-group-item"> Pizarrón</li><% end %>
         <!-- <li class="list-group-item"> Traducción simultánea: <%= "Sí" if reservacion.traducSimultanea == true %> <%= "No" if reservacion.traducSimultanea == false %></li>-->
          <% if reservacion.conexSkype == true %><li class="list-group-item"> <b>Conexión de Skype</b></li><% end %>
         <!-- <li class="list-group-item"> Videoconferencia: <%= "Sí" if reservacion.videoconferencia == true %> <%= "No" if reservacion.videoconferencia == false %></li>
          <li class="list-group-item"> <b>Webcast: <%= "Sí" if reservacion.webcast == true %> <%= "No" if reservacion.webcast == false %></b></li>
          <li class="list-group-item"> Grabación de video: <%= "Sí" if reservacion.grabVideo == true %> <%= "No" if reservacion.grabVideo == false %></li>
          <li class="list-group-item"> <b>Grabación de audio: <%= "Sí" if reservacion.grabAudio == true %> <%= "No" if reservacion.grabAudio == false %></b></li> -->
          <% if reservacion.cafe == true %><li class="list-group-item"> Café</li><% end %>
          <% if reservacion.galletas == true %><li class="list-group-item"> <b>Galletas</b> </li><% end %>
          <% if reservacion.fruta == true %><li class="list-group-item"> Fruta</li><% end %>
          <li class="list-group-item"> <b>Asistentes: <%= reservacion.asistentes %></b> </li>
          <li class="list-group-item"> <%= "Disposición del auditorio:" if reservacion.espacio.id == 1 %> <%= "Disposición del auditorio:" if reservacion.espacio.id == 4 %><%= " Auditorio" if reservacion.auditorio == true %><%= " Mesa redonda" if reservacion.mesaRedonda == true %></li>
        </ul></center>
         </div> 
          <table class="table table-striped table-hover">
          <tbody>
             <tr>
               <td><%= link_to 'Mostrar', reservacion, :method => :get%></td>
               <td><%= link_to 'Editar', edit_reservacion_path(reservacion), :method => :get %></td>
               <td><%= link_to 'Eliminar', reservacion, method: :delete, data: {confirm: '¿Desea continuar?'} if reservacion.aprobacion == false %></td> 
               <td><%= link_to "Descargar solicitud \##{reservacion.id}", edit_reservacion_path(reservacion, format: 'pdf'), :method => :get if reservacion.aprobacion == true%></td> 
             </tr>
          </tbody>
          </table>
      </div>
    </div>
  <%end %> 
<%end %>