<% @reservacions.each do |reservacion| %>
 <% @reservacions = @reservacions.reverse%> 
  <% if reservacion.fechainicio.strftime("%d-%m-%Y") == reservacion.fechainicio.strftime("%d-09-%Y") %>
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="col-md-6" >
         <ul class="list-group">
          <li class="list-group-item list-group-item-info"> <b>Folio de reservación: <%= reservacion.id %></b></li>
          
          <% if reservacion.aprobacion == true %>
          <li class="list-group-item list-group-item-success">  Aprobación: Aprobada </li>
          <% else %>
          <li class="list-group-item list-group-item-danger"> Aprobación: Pendiente </li>
          <% end %>

          <li class="list-group-item"> Espacio: <%= reservacion.espacio.nombre if reservacion.espacio%> </li>
          <li class="list-group-item"> <b>Responsable: <%= reservacion.nresponsable %></b></li>
          <li class="list-group-item"> Actividad: <%= reservacion.nevento %> </li>
          <li class="list-group-item"> <b>Tipo de actividad: <%= reservacion.tipoactividad %>  </b></li>
          <li class="list-group-item"> Fecha de inicio: <%= reservacion.fechainicio %> </li>    
          <li class="list-group-item"> <b>Fecha de fin: <%= reservacion.fechafin %> </b></li>
          <li class="list-group-item"> Hora de inicio: <%= reservacion.horainicio.strftime("%H:%M") %></li>
          <li class="list-group-item"> <b>Hora de fin: <%= reservacion.horafin.strftime("%H:%M") %></b></li>
          <!--<li class="list-group-item"> Repetición: <%= "Sí" if reservacion.repeticion == true %> <%= "No" if reservacion.repeticion == false %></li>
          <li class="list-group-item"> <b>ID repeticiones: <%= reservacion.idrepeticiones %></b></li> -->
          <li class="list-group-item"> Fecha de solicitud: <%= reservacion.fechasolicitud.strftime("%d-%m-%Y %H:%M") %></li>
          <!--<li class="list-group-item"> Repetición: <%= "Sí" if reservacion.repeticion == true %> <%= "No" if reservacion.repeticion == false %></li>
          <li class="list-group-item"> <b>ID repeticiones: <%= reservacion.idrepeticiones %></b></li> -->
          <li class="list-group-item"> <b>Usuario: <%= reservacion.usuario %></b> </li>
          <!--<li class="list-group-item"> <b>Disposición: <%= reservacion.disposicion %></b></li>     
          <li class="list-group-item"> Cartel: <%= "Sí" if reservacion.cartel == true %> <%= "No" if reservacion.cartel == false %></li>
          <li class="list-group-item"> <b>Programa: <%= "Sí" if reservacion.programa == true %> <%= "No" if reservacion.programa == false %></b></li>
          <li class="list-group-item"> Constancias: <%= "Sí" if reservacion.constancias == true %> <%= "No" if reservacion.constancias == false %></li> -->
         </ul>
        </div>
        <div class="col-md-6">
           <ul class="list-group">
           <center><h4>SERVICIOS</h4></center>
          <li class="list-group-item"> <b>Videoproyector: <%= "Sí" if reservacion.videoproyector == true %> <%= "No" if reservacion.videoproyector == false %></b></li>
          <li class="list-group-item"> PC: <%= "Sí" if reservacion.pc == true %> <%= "No" if reservacion.pc == false %></li>
          <!--<li class="list-group-item"> <b>Video: <%= "Sí" if reservacion.video == true %> <%= "No" if reservacion.video == false %></b></li>-->
          <li class="list-group-item"> <b>Conexión a Internet: <%= "Sí" if reservacion.conexInternet == true %> <%= "No" if reservacion.conexInternet == false %></b></li>
          <li class="list-group-item"> Pizarrón: <%= "Sí" if reservacion.pizarron == true %> <%= "No" if reservacion.pizarron == false %></li>
         <!-- <li class="list-group-item"> Traducción simultánea: <%= "Sí" if reservacion.traducSimultanea == true %> <%= "No" if reservacion.traducSimultanea == false %></li>-->
          <li class="list-group-item"> <b>Conexión de Skype: <%= "Sí" if reservacion.conexSkype == true %> <%= "No" if reservacion.conexSkype == false %></b></li>
         <!-- <li class="list-group-item"> Videoconferencia: <%= "Sí" if reservacion.videoconferencia == true %> <%= "No" if reservacion.videoconferencia == false %></li>
          <li class="list-group-item"> <b>Webcast: <%= "Sí" if reservacion.webcast == true %> <%= "No" if reservacion.webcast == false %></b></li>
          <li class="list-group-item"> Grabación de video: <%= "Sí" if reservacion.grabVideo == true %> <%= "No" if reservacion.grabVideo == false %></li>
          <li class="list-group-item"> <b>Grabación de audio: <%= "Sí" if reservacion.grabAudio == true %> <%= "No" if reservacion.grabAudio == false %></b></li> -->
          <li class="list-group-item"> Café: <%= "Sí" if reservacion.cafe == true %> <%= "No" if reservacion.cafe == false %></li>
          <li class="list-group-item"> <b>Galletas: <%= "Sí" if reservacion.galletas == true %> <%= "No" if reservacion.galletas == false %></b> </li>
          <li class="list-group-item"> Fruta: <%= "Sí" if reservacion.fruta == true %> <%= "No" if reservacion.fruta == false %></li>
          <li class="list-group-item"> <b>Asistentes: <%= reservacion.asistentes %></b> </li>
          

        </ul>
         </div> 
          <table class="table table-striped table-hover">
          <tbody>
             <tr>
               <td><%= link_to 'Mostrar', reservacion, :method => :get%></td>
               <td><%= link_to 'Editar', edit_reservacion_path(reservacion), :method => :get %></td>
               <td><%= link_to 'Eliminar', reservacion, method: :delete, data: {confirm: '¿Desea continuar?'} if reservacion.aprobacion == false %></td> 
               <td><%= link_to 'Descargar solicitud', reservacions_path(format: 'pdf') if reservacion.aprobacion == true%></td> 
             </tr>
          </tbody>
          </table>
      </div>
    </div>
  <%end %> 
<%end %> 