<p id="notice"><%= notice %></p>

<h1 align="center">Reservaciones</h1>

<table align="center">
  <thead>
    <tr>
      <th>Responsable</th>
      <th>Evento</th>
      <th>Fecha de inicio</th>
      <th>Fecha de fin</th>
      <th>Hora de inicio</th>
      <th>Hora de fin</th>
      <th>Repetición</th>
      <th>ID repeticiones</th>
      <th>Aprobación</th>
      <th>Tipo de actividad</th>
      <th>Fecha de solicitud</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservacions.each do |reservacion| %>
      <tr>
        <td><%= reservacion.nresponsable %></td>
        <td><%= reservacion.nevento %></td>
        <td><%= reservacion.fechainicio %></td>
        <td><%= reservacion.fechafin %></td>
        <td><%= reservacion.horainicio %></td>
        <td><%= reservacion.horafin %></td>
        <td><%= reservacion.repeticion %></td>
        <td><%= reservacion.idrepeticiones %></td>
        <td><%= reservacion.aprobacion %></td>
        <td><%= reservacion.tipoactividad %></td>
        <td><%= reservacion.fechasolicitud %></td>
        <td><%= link_to 'Mostrar', reservacion %></td>
        <td><%= link_to 'Editar', edit_reservacion_path(reservacion) %></td>
        <td><%= link_to 'Eliminar', reservacion, method: :delete, data: { confirm: '¿Desea continuar ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Reservación', new_reservacion_path %>
