<p id="notice"><%= notice %></p>
<% if can? :manage, @reservacion %>

<div class= "contenedor">
    <div class="panel-group">     
        <div class="panel panel-default">
          <div class="panel-heading">Programación de actividades </div>
            <div class="panel-body">
             <center>
              <div class="btn-group" role="group" aria-label="...">
                <center>
                 <a class="btn btn-primary btn-large">
                 <%= button_to 'Espacios', espacios_path, :method => :get  %> </a>
                 <a class="btn btn-primary btn-large">
                 <%= button_to 'Reservaciones', reservacions_path, :method => :get  %> </a>
                 <a class="btn btn-primary btn-large">
                 <%= button_to 'Usuarios', usuarios_path, :method => :get  %> </a>
               </center>
              </div>
             </center>
            </div>
        </div>      
    </div>
</div>
<h1 align="center">Reservaciones</h1>

<div class="panel panel-primary">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Responsable</th>
      <th>Evento</th>
      <th>Fecha de inicio</th>
      <th>Fecha de fin</th>
      <th>Hora de inicio</th>
      <th>Hora de fin</th>
      <th>Repetición</th>
      <th>ID repeticiones</th>
      <th>Aprobación</th>
      <th>Tipo de actividad</th>
      <th>Fecha de solicitud</th>
      <th>Cartel</th>
      <th>Programa</th>
      <th>Constancias</th>
      <th>Disposición</th>
      <th>Videoproyector</th>
      <th>PC</th>
      <th>Video</th>
      <th>Internet</th>
      <th>Pizarrón</th>
      <th>Traducción</th>
      <th>Skype</th>
      <th>Videoconferencia</th>
      <th>Webcast</th>
      <th>GrabVideo</th>
      <th>GrabAudio</th>
      <th>Café</th>
      <th>Galletas</th>
      <th>Fruta</th>
      <th>Asistentes</th>
    </tr>
  </thead>

  <tbody>
    <% @reservacions.each do |reservacion| %>
      <tr>
        <td><%= reservacion.nresponsable %></td>
        <td><%= reservacion.nevento %></td>
        <td><%= reservacion.fechainicio %></td>
        <td><%= reservacion.fechafin %></td>
        <td><%= reservacion.horainicio %></td>
        <td><%= reservacion.horafin %></td>
        <td><%= reservacion.repeticion %></td>
        <td><%= reservacion.idrepeticiones %></td>
        <td><%= reservacion.aprobacion %></td>
        <td><%= reservacion.tipoactividad %></td>
        <td><%= reservacion.fechasolicitud %></td>
        <td><%= reservacion.cartel %></td>
        <td><%= reservacion.programa %></td>
        <td><%= reservacion.constancias %></td>
        <td><%= reservacion.disposicion %></td>
        <td><%= reservacion.videoproyector %></td>
        <td><%= reservacion.pc %></td>
        <td><%= reservacion.video %></td>
        <td><%= reservacion.conexInternet%></td>
        <td><%= reservacion.pizarron %></td>
        <td><%= reservacion.traducSimultanea %></td>
        <td><%= reservacion.conexSkype %></td>
        <td><%= reservacion.videoconferencia %></td>
        <td><%= reservacion.webcast %></td>
        <td><%= reservacion.grabVideo %></td>
        <td><%= reservacion.grabAudio %></td>
        <td><%= reservacion.cafe %></td>
        <td><%= reservacion.galletas %></td>
        <td><%= reservacion.fruta %></td>
        <td><%= reservacion.asistentes %></td>
      
        <td><%= link_to 'Mostrar', reservacion %></td>
        <td><%= link_to 'Editar', edit_reservacion_path(reservacion) %></td>
        <td><%= link_to 'Eliminar', reservacion, method: :delete, data: {confirm: '¿Desea continuar?'} %></td>
        <% end %>
      </tr>
  </tbody>
</table>
</div>


<%= link_to 'Nueva Reservación', new_reservacion_path %>
<% end %>
<% if cannot? :manage, @reservacion  %>
<div class= "contenedor">
    <div class="panel panel-default">
        <div class="panel-heading">Programación de actividades </div>
            <div class="panel-body"> 
                <center>
                  <div> No tienes acceso a esta página.</div>
                 <a class="btn btn-primary btn-large">
                 <%= button_to 'Regresar', calendario_espacios_path, :method => :get %>
                 </a>
                 </center>
          
            </div>
        </div>      
</div>
<% end %>
