<p id="notice"><%= notice %></p>
<center>
<p>
  <strong>Responsable:</strong>
  <%= @reservacion.nresponsable %>
</p>

<p>
  <strong>Evento:</strong>
  <%= @reservacion.nevento %>
</p>

<p>
  <strong>Fecha de inicio:</strong>
  <%= @reservacion.fechainicio %>
</p>

<p>
  <strong>Fecha de fin:</strong>
  <%= @reservacion.fechafin %>
</p>

<p>
  <strong>Hora de inicio:</strong>
  <%= @reservacion.horainicio %>
</p>

<p>
  <strong>Hora de fin:</strong>
  <%= @reservacion.horafin %>
</p>

<p>
  <strong>Repetición:</strong>
  <%= @reservacion.repeticion %>
</p>

<p>
  <strong>ID de repeticiones:</strong>
  <%= @reservacion.idrepeticiones %>
</p>

<p>
  <strong>Aprobación:</strong>
  <%= @reservacion.aprobacion %>
</p>

<p>
  <strong>Tipo de actividad:</strong>
  <%= @reservacion.tipoactividad %>
</p>

<p>
  <strong>Fecha de solicitud:</strong>
  <%= @reservacion.fechasolicitud %>
</p>

<%= link_to 'Editar', edit_reservacion_path(@reservacion) %> |
<%= link_to 'Regresar', calendario_espacios_path, :method => :get %> 
</center>
