<p id="notice"><%= notice %></p>
<% if can? :manage, @espacio %>

<div class= "contenedor">
    <div class="panel-group">     
        <div class="panel panel-default">
          <div class="panel-heading">Programación de actividades </div>
            <div class="panel-body">
             <center>
              <div class="btn-group" role="group" aria-label="...">
                <center>
                 <a class="btn btn-primary btn-large">
                 <%= button_to 'Espacios', espacios_path, :method => :get  %> </a>
                 <a class="btn btn-primary btn-large">
                 <%= button_to 'Reservaciones', reservacions_path, :method => :get  %> </a>
                 <a class="btn btn-primary btn-large">
                 <%= button_to 'Usuarios', users_path, :method => :get  %> </a>
               </center>
              </div>
             </center>
            </div>
        </div>      
    </div>
</div>

<div class="contenedor">
  <h1 align="center">Espacios</h1>
   <div class="panel panel-primary">
    <table class="table table-striped table-hover">

  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ubicación</th>
      <th>Aforo</th>
      <th>Descripción</th>
      <th>Servicios adicionales</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @espacios.each do |espacio| %>
  
      <tr>
        <td><%= espacio.nombre %></td>
        <td><%= espacio.ubicacion %></td>
        <td><%= espacio.aforo %></td>
        <td><%= espacio.descripcion %></td>
        <td><%= espacio.servicios_adicionales %></td>
        <td><%= espacio.estatus %></td>
        <td><%= link_to 'Mostrar', espacio %></td>
        <td><%= link_to 'Editar', edit_espacio_path(espacio) %></td>
        <td><%= link_to 'Eliminar', espacio, method: :delete, data: { confirm: '¿Desea continuar?' } %></td>
       
      </tr>
    <% end %> 
  </tbody>
</table>
<br>
</div>
<%= link_to 'Agregar espacio', new_espacio_path %>
</div>
<% end %>

<% if cannot? :manage, @espacio  %>
<div class= "contenedor">
    <div class="panel panel-default">
        <div class="panel-heading">Programación de actividades </div>
            <div class="panel-body"> 
                <center>
                  <div> No tienes acceso a esta página.</div>
                 <a class="btn btn-primary btn-large">
                 <%= button_to 'Regresar', calendario_espacios_path, :method => :get %>
                 </a>
                 </center>
          
            </div>
        </div>      
</div>
<% end %>