<p id="notice"><%= notice %></p>

<h1>Espacios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ubicacion</th>
      <th>Aforo</th>
      <th>Descripcion</th>
      <th>Servicios adicionales</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @espacios.each do |espacio| %>
      <tr>
        <td><%= espacio.nombre %></td>
        <td><%= espacio.ubicacion %></td>
        <td><%= espacio.aforo %></td>
        <td><%= espacio.descripcion %></td>
        <td><%= espacio.servicios_adicionales %></td>
        <td><%= espacio.estatus %></td>
        <td><%= link_to 'Show', espacio %></td>
        <td><%= link_to 'Edit', edit_espacio_path(espacio) %></td>
        <td><%= link_to 'Destroy', espacio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Espacio', new_espacio_path %>
