<p id="notice"><%= notice %></p>

<div class = "contenedor">
  <div class="container">
    <center>
    <div class="jumbotron4">
       
<p>
  <strong>Nombre:</strong>
  <%= @espacio.nombre %>
</p>

<p>
  <strong>Ubicación:</strong>
  <%= @espacio.ubicacion %>
</p>

<p>
  <strong>Aforo:</strong>
  <%= @espacio.aforo %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @espacio.descripcion %>
</p>

<p>
  <strong>Servicios adicionales:</strong>
  <%= @espacio.servicios_adicionales %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @espacio.estatus %>
</p>

</div>

<%= link_to 'Editar', edit_espacio_path(@espacio) %> |
<%= link_to 'Regresar', espacios_path %>
</center>
</div>
</div>