<p id="notice"><%= notice %></p>
<% if can? :manage, @usuario %>

<div class= "contenedor">
    <div class="panel-group">     
        <div class="panel panel-default">
          <div class="panel-heading">Programación de actividades </div>
            <div class="panel-body">
             <center>
              <div class="btn-group" role="group" aria-label="...">
                <center>
                 <a class="btn btn-primary btn-large">
                 <%= button_to 'Espacios', espacios_path, :method => :get  %> </a>
                 <a class="btn btn-primary btn-large">
                 <%= button_to 'Reservaciones', reservacions_path, :method => :get  %> </a>
                 <a class="btn btn-primary btn-large">
                 <%= button_to 'Usuarios', usuarios_path, :method => :get  %> </a>
               </center>
              </div>
             </center>
            </div>
        </div>      
    </div>
</div>

<h1 align = "center">Usuarios</h1>

<div class="panel panel-primary">
<table class="table">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Contraseña</th>
      <th>Nombre</th>
      <th>Apellido paterno</th>
      <th>Apellido materno</th>
      <th>Tipo de usuario</th>
      <th>Autorizado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nick %></td>
        <td><%= usuario.pass %></td>
        <td><%= usuario.nombre %></td>
        <td><%= usuario.appat %></td>
        <td><%= usuario.apmat %></td>
        <td><%= usuario.tipo_usuario %></td>
        <td><%= usuario.autorizado %></td>
        <td><%= link_to 'Mostrar', usuario %></td>
        <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Eliminar', usuario, method: :delete, data: { confirm: '¿Desea continuar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<%= link_to 'Nuevo Usuario', new_user_registration_path %>
<% end %>

<% if cannot? :manage, @usuario  %>
<div class= "contenedor">
    <div class="panel panel-default">
        <div class="panel-heading">Programación de actividades </div>
            <div class="panel-body"> 
                <center>
                  <div> No tienes acceso a esta página.</div>
                 <a class="btn btn-primary btn-large">
                 <%= button_to 'Regresar', calendario_espacios_path, :method => :get %>
                 </a>
                 </center>
          
            </div>
        </div>      
</div>
<% end %>