<!DOCTYPE html>
<html>
 <head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.8.3.js"></script>
 </head>
<body>

   <div class= "contenedor">
    <div class="panel-group">
	    <div class="col-md-2" >
	      <div class="panel panel-default">
          <div class="panel-heading">Reservaciones </div>
	        	<div class="panel-body">
             <div class="btn-group-vertical" role="group" aria-label="...">
                <!-- <div>  <a id="abrir" href="javascript:void(0);"> Cátalogo de servicios </a> </div>
                  <%= javascript_include_tag "ventanaCatalogo" %></br> -->
                 <%= form_with scope: :get, url: reservacions_path do |form| %>
                   <h6> Consultar mi reservación. </h6>
                    <div>
                      <h7>Folio:</h7> 
                      <a>
                      <form>
                        <input name="id" type="number" value="", min="1", max="9999">
                      </form> </br>
                       <%= link_to 'Consultar', reservacion_path, :reservacion => :show %>
                   </a></div>
                 <% end %>
                 
                    <button type="button" class="btn btn-link"></button>
      <div id="ventana_emergente"> 
          <h3> SERVICIOS TÉCNICOS </h3>
            <p> Videoproyector </p>
            <p> PC </p>
            <p> Traducción simultánea </p>
            <p> Vídeo </p>
            <p> Conexión por Skype </p>
            <p> Conexión Internet </p>
            <p> Videoconferencia </p>
            <p> Pizarrón </p>
            <p> Webcast </p>
            <p> Grabación de video </p>
            <p> Grabación de audio </p>
          <h3> OTROS SERVICIOS </h3>
            <p> En todas las sesiones se ofrece café. </p>
            <p> En sesiones de 3 horas o más se puede ofrecer galletas o fruta. </p>
            <p> <a id="cerrar" href="javascript:void(0);"> Cerrar </a> </p>
      </div>
             </div>
	          </div>
	      </div>
      </div>

      <div class="row">
        <div class="col-md-3" >
          <div class="panel1 panel-default">
            <ul class="thumbnails">
            <li class="span4">
            <div class="thumbnail">
              <%= image_tag "aud4p.jpg", :alt => "Auditorio 4° piso" %>
            <center> 
              <a class="btn btn-primary btn-large">
                <%= button_to 'Auditorio 4° piso', espacios_auditorio4P_path, :method => :post %>
              <form>
                <input name="id" type="hidden" value="1">
              </form>  </a>
            </center> 
            </div> 
            </li>

            <li class="span4">
            <div class="thumbnail">
              <%= image_tag "sala1_5p.jpg", :alt => "Sala uno 5° piso" %>
            <center> 
              <a class="btn btn-primary btn-large">
                 <%= button_to 'Sala uno 5° piso', espacios_sala15P_path, :method => :post %>
             <form>
               <input name="id" type="hidden" value="2">
             </form> </a>
            </center> 
            </div>
            </li>
            </ul>          
          </div>
        </div>
      
        <div class="col-md-3" >
          <div class="panel| panel-default">
            <ul class="thumbnails">
            <li class="span4">
            <div class="thumbnail">
              <%= image_tag "sala2_5p.jpg", :alt => "Sala dos 5° piso" %>
            <center> 
              <a class="btn btn-primary btn-large">
                <%= button_to 'Sala dos 5° piso', espacios_sala25P_path, :method => :post %>
              <form>
                <input name="id" type="hidden" value="3">
              </form>  </a>
            </center> 
            </div> 
            </li>
          
            <li class="span4">
            <div class="thumbnail">
              <%= image_tag "aud5p.jpg", :alt => "Auditorio Rolando García" %>
            <center> 
              <a class="btn btn-primary btn-large">
                <%= button_to 'Auditorio "Rolando García"', espacios_auditorioRG_path, :method => :post %>
              <form>
                <input name="id" type="hidden" value="4">
              </form>   </a>
            </center> 
            </div>
            </li>

            <li class="span4">
            <div class="thumbnail">
              <%= image_tag "cubBiblioteca.jpeg", :alt => "Otro espacio" %>
            <center> 
              <a class="btn btn-primary btn-large">
                <%= button_to 'Otro espacio', espacios_espacioAdic_path, :method => :post %>
              <form>
                <input name="id" type="hidden" value="7">
              </form>  </a>
            </center> 
            </div> 
            </li>
          
            </ul>          
          </div>
        </div>
     
        <div class="col-md-3" >
          <div class="panel| panel-default">
            <ul class="thumbnails">
            <li class="span4">
            <div class="thumbnail">
              <%= image_tag "sala6p.jpg", :alt => "Sala del 6° piso" %>
            <center> 
              <a class="btn btn-primary btn-large">
                <%= button_to 'Sala del 6° piso', espacios_sala6P_path, :method => :post %>
              <form>
                <input name="id" type="hidden" value="5">
              </form>  </a>
            </center> 
            </div> 
            </li>

            <li class="span4">
            <div class="thumbnail">
              <%= image_tag "sala_pos.jpg", :alt => "Sala de Posgrado" %>
            <center> 
              <a class="btn btn-primary btn-large">
                <%= button_to 'Sala de Posgrado', espacios_salaPosg_path, :method => :post %>
              <form>
                <input name="id" type="hidden" value="6">
              </form> </a>
            </center> 
            </div>
            </li>
            </ul>          
          </div>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
