<!DOCTYPE html>
<html>
  
    <title>Reservación</title>
   <!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css">
    <%= csrf_meta_tags %>
        <link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css">
             <%= csrf_meta_tags %>
             <%= stylesheet_link_tag 'application'%>
             <%= javascript_include_tag "application"%>
<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
  <body>
    <div class="contenedor">
      <div class="encabezado"><a href="http://www.ceiich.unam.mx"><img src="http://www.ceiich.unam.mx/0/img/encabezadoLogoCeiich.png" alt="Regreso home del CEIICH" title="Regreso home del CEIICH" border="0" width="976" height="119" /></a><a href="http://www.unam.mx" target="_blank"><img src="http://www.ceiich.unam.mx/0/img/encabezadoLogoUnam.png" alt="Visita la web de la UNAM" title="Visita la web de la UNAM" border="0" height="119"/></a></div> 
     
        <div class="container">
	        <div class="jumbotron">
	                    <h2>Programación de Actividades Académicas</h2>
          </div>
              <div id="user_nav">
                <div align="right">
                <p class="notice"><%= notice %></p>  <p class="alert"><%= alert %></p>
                  <% if user_signed_in? %>
                  Conectado como <%= current_user.email %>. 
                  <%= button_to  "Cerrar sesión", destroy_user_session_path, :method => :delete %>
                  <% end %>
                  <% if can? :manage, @reservacion %>
                  <%= button_to "Administración", welcome_administracion_path %>
                  <%= button_to "Inicio", welcome_solicitud_path %>
                  <% end %>
                </div>
              </div>
          </div>
        </div>
             <%= yield %>

 <div class= "contenedor">
    <footer>
      <strong> 
        <div class="pie-banners">
          <map name="imagen01" id="imagen01">
            <area shape="rect" coords="0,0,299,26" href="http://www.directorio.unam.mx/" target="_blank" />
            <area shape="rect" coords="300,0,599,26" href="http://dgapa.unam.mx/" target="_blank" />
            <area shape="rect" coords="600,0,924,26" href="http://www.ddu.unam.mx/" target="_blank" />
            <area shape="rect" coords="925,0,1280,26" href="http://www.dgcs.unam.mx/mujer.html" target="_blank" />
          </map>
          <img src="http://www.ceiich.unam.mx/0/img/varios/vinculosExternos.jpg" border="0" usemap="#imagen01" /> 
        </div>
        <div class="pie-derechos">
        <div align="center"> Hecho en México, todos los derechos reservados 2017. Esta página puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, <br/>
       se cite la fuente completa y su dirección electrónica. De otra forma requiere permiso previo por escrito de la institución. </div>
       <div class="administrado">Sitio web administrado por el Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades (CEIICH).<br/>
       Contacto: <a href="mailto:"></a></div>
       </div> 
      </strong>
  </footer>
</div>
  </body>

</html>
