<!DOCTYPE html>
<html>
<link href="https://goo.gl/34igzK" rel="shortcut icon">
  <title>Sistema de Gestión de Espacios </title>
  <!-- Latest compiled and minified CSS -->
  <head>
  <link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css">
    <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application'%>
    <%= javascript_include_tag "application"%>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
      <%= yield %>
  </body>
</html>